<div id="show-page">
  <header>
    <%= link_to 'header', posts_path %>
  </header>

  <div class="divider"></div>

  <div class="p-title">
    <%= @post.title %>
  </div>
  <div class="p-date">
    <span class="p-d-month"> <%= @post.created_at.strftime("%B")%> </span>
    <span class="p-d-day"> <%= @post.created_at.day%> </span>, 
    <span class="p-d-year"> <%= @post.created_at.year%> </span>
  </div>

  <div class="divider"></div>
  
  <div class="p-body">
    <p>
      <%= simple_format @post.body %> 
    </p>
  </div>

  <div class="divider"></div>

  <div>
    <p>
    <%= link_to "Edit", edit_post_path(@post) %> 
    <%= link_to "Delete", post_path(@post), data: {confirm: 'delete the post?'}, method: :delete %>
    </p>
  </div>

  <div>
    <%= link_to "Go back", posts_path %>
  </div>
</div>
